<!-- BG IMAGE -->
<div class="bg-img"></div>

<!-- BLUR EFFECT  -->
<div class="blur"></div>

<div class="dummy-body flex">
  <!-- FORM SECTION  -->
  <div class="form-wrapper flex">
    <h1>Contact Us</h1>
    <div class="form-img-container flex">
      <form
        class="flex"
        #contactForm="ngForm"
        (ngSubmit)="submitEmail(contactForm)"
      >
        <!-- NAME FIELD -->
        <div class="input-box">
          <input
            type="text"
            [(ngModel)]="contactFormValues.name"
            #name="ngModel"
            name="name"
            placeholder="Enter Name"
            required
            minlength="2"
          />
          <i [ngClass]="{
            'green-icon': isFieldValid(name),
            'red-icon': isFieldInvalid(name)
          }" class="bx bxs-user"></i>
          <!-- input error message -->
          <p
            class="text-red-bold"
            *ngIf="name.errors && name.touched && name.dirty"
          >
            name is required
          </p>
        </div>

        <!-- EMAIL FIELD -->
        <div class="input-box">
          <input
            type="email"
            [(ngModel)]="contactFormValues.email"
            #email="ngModel"
            name="email"
            placeholder="Email Address"
            required
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          />
          <i [ngClass]="{
            'green-icon': isFieldValid(email),
            'red-icon': isFieldInvalid(email)
          }" class="bx bxs-envelope"></i>
          <!-- input error message -->
          <p
            class="text-red-bold"
            *ngIf="email.errors && email.touched && email.dirty"
          >
            invalid email
          </p>
        </div>
        <!-- TEXT AREA (body field) -->
        <div class="input-box">
          <textarea
            name="body"
            [(ngModel)]="contactFormValues.body"
            #body="ngModel"
            class="textarea"
            placeholder="Your Message Here..."
            required
            minlength="20"
          ></textarea>
          <!-- input error message -->
          <p
            class="text-red-bold"
            *ngIf="body.errors && body.touched && body.dirty"
          >
            write at least 20 words
          </p>
        </div>

        <!-- Alert -->
        <div *ngIf="showAlert" [ngClass]="alertColor">
          <p>
            {{ alertMessage }}
          </p>
        </div>

        <!-- submit button -->
        <button class="btn flex" [disabled]="contactForm.invalid || onSubmit">
          <ng-container *ngIf="onSubmit === false; else submittingEmail">
            Submit <i class="bx bxs-send"></i>
          </ng-container>
          <ng-template #submittingEmail>
              <i class="bx bx-loader-circle bx-spin"></i>
          </ng-template>
        </button>
      </form>

      <!-- FORM IMAGE  -->
      <div class="form-image">
        <img
          src="../../assets/images/icons/hotel-logo-600.png"
          class=""
          alt="hotel logo"
        />
        <p>EMBER GLOW</p>
      </div>
    </div>
    <h3 class="other-options">-- Or --</h3>
    <div class="link-wrapper flex">
      <a href="#"><i class="bx bxl-facebook"></i></a>
      <a href="#"><i class="bx bxl-twitter"></i></a>
      <a href="#"><i class="bx bxl-instagram"></i></a>
      <a href="#"><i class="bx bxl-discord-alt"></i></a>
    </div>
  </div>
</div>
