<section class="review-container">
  <div class="container">
    <!-- Heading -->
    <div class="heading">
      <div class="heading__title flex">
        <img
          class="left-flower"
          src="../../assets/images/about/testimonial/left-flower.svg"
          alt=""
        />
        <span>Testimonials</span>
        <img
          class="right-flower"
          src="../../assets/images/about/testimonial/right-flower.svg"
          alt=""
        />
      </div>
      <span class="heading__subtitle">What Our Guests Are Saying</span>
    </div>

    <!-- Slider -->
    <div class="slider flex">
      <input type="radio" name="slider" title="slider1" checked class="nav" />
      <input type="radio" name="slider" title="slider2" class="nav" />
      <input type="radio" name="slider" title="slider3" class="nav" />
      <input type="radio" name="slider" title="slider4" class="nav" />
      <input type="radio" name="slider" title="slider5" class="nav" />
      <input type="radio" name="slider" title="slider6" class="nav" />

      <div class="card-container">
        <div class="card flex">
          <img
            src="../../assets/images/about/testimonial/woman.webp"
            alt="a woman image"
          />
          <div class="info-container">
            <div class="date flex">
              <span>April 2024</span>
              <span>5/5<i class="bx bxs-star"></i></span>
            </div>
            <span class="name">Sarah J.</span>
            <p>
              Ember Glow provided an unforgettable experience. The service was
              impeccable, and the atmosphere was incredibly warm and inviting. A
              must-stay for any traveler.
            </p>
          </div>
        </div>
        <div class="card flex">
          <img
            src="../../assets/images/about/testimonial/man.webp"
            alt="man image"
          />
          <div class="info-container">
            <div class="date flex">
              <span>March 2024</span>
              <span>5/5<i class="bx bxs-star"></i></span>
            </div>
            <span class="name">Michael R.</span>
            <p>
              The attention to detail at Ember Glow is second to none. From the
              luxurious rooms to the exquisite dining, every aspect exceeded my
              expectations.
            </p>
          </div>
        </div>
        <div class="card flex">
          <img
            src="../../assets/images/about/testimonial/woman-2.webp"
            alt="a woman"
          />
          <div class="info-container">
            <div class="date flex">
              <span>February 2024</span>
              <span>4.9/5<i class="bx bxs-star"></i></span>
            </div>
            <span class="name">Emily T.</span>
            <p>
              I felt right at home at Ember Glow. The staff went above and
              beyond to make my stay comfortable and enjoyable. Highly
              recommended!
            </p>
          </div>
        </div>
        <div class="card flex">
          <img
            src="../../assets/images/about/testimonial/poolguy.webp"
            alt="a guy in a pool"
          />
          <div class="info-container">
            <div class="date flex">
              <span>January 2024</span>
              <span>5/5<i class="bx bxs-star"></i></span>
            </div>
            <span class="name">David L.</span>
            <p>
              Staying at Ember Glow was a delight. The blend of luxury and
              comfort, paired with excellent service, made for a perfect
              vacation.
            </p>
          </div>
        </div>
        <div class="card flex">
          <img
            src="../../assets/images/about/testimonial/girl.webp"
            alt="a girl"
          />
          <div class="info-container">
            <div class="date flex">
              <span>December 2023</span>
              <span>4.9/5<i class="bx bxs-star"></i></span>
            </div>
            <span class="name">Anna K.</span>
            <p>
              Ember Glow is a hidden gem. The ambiance, the hospitality, and the
              amenities were all top-notch. I can't wait to return.
            </p>
          </div>
        </div>
        <div class="card flex">
          <img
            src="../../assets/images/about/testimonial/tea-guy.webp"
            alt="a guy drinking tea"
          />
          <div class="info-container">
            <div class="date flex">
              <span>November 2022</span>
              <span>5/5<i class="bx bxs-star"></i></span>
            </div>
            <span class="name">Eminem M.</span>
            <p>
              Ember Glow's impeccable cleanliness sets it apart. Every corner is
              spotless, and the fresh ambiance truly makes it feel like a home
              away from home.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
