<section class="team-container">
  <div class="container">
    <div class="heading">
      <h1 class="heading__title">Meet Our Team</h1>
      <p class="heading__para">
        Our dedicated team ensures every guest enjoys a warm and memorable stay.
        Our commitment to excellence shines through in every detail, from the
        moment you arrive until you depart.
      </p>
    </div>
    <div class="card-container">
      <div class="card">
        <img
          src="../../assets/images/about/founder.jpg"
          alt="an image of a founder"
        />
        <span>Founder & Visionary</span>
        <h2>Tony Stark</h2>
        <p>
          His passion for hospitality began with a dream of creating a
          serene retreat where guests feel at home. His vision and dedication
          have shaped Ember Glow into the welcoming and luxurious haven it is
          today.
        </p>
      </div>
      <div class="card">
        <img
          src="../../assets/images/about/manager.jpg"
          alt="an image of a manager"
        />
        <span>General Manager</span>
        <h2>Emma Brown</h2>
        <p>
          Emma brings over 20 years of experience in the hospitality industry,
          ensuring our operations run smoothly and guests receive exceptional
          service.
        </p>
      </div>
      <div class="card">
        <img
          src="../../assets/images/about/chef.jpg"
          alt="an image of a chef"
        />
        <span>Executive Chef</span>
        <h2>Thomas Smith</h2>
        <p>
          Tom's culinary expertise and creativity delight our guests with every
          dish, making dining at Ember Glow an unforgettable experience.
        </p>
      </div>
    </div>
  </div>
</section>
