<section class="facil-detail-container container">
  
  <!-- operating hours -->
  <div class="openhr-container top-m flex">
    <h2 class="open-title">Operating Hours & Policies</h2>
    <table>
      <tr>
        <th>Facility</th>
        <th>Opening Hours</th>
        <th class="pc-cells">Note</th>
      </tr>
      <tr>
        <td>Swimming Pool</td>
        <td>6 AM - 10 PM</td>
        <td class="pc-cells">__</td>
      </tr>
      <tr>
        <td>Fitness Center</td>
        <td>24/7 Access</td>
        <td class="pc-cells">__</td>
      </tr>
      <tr>
        <td>Spa</td>
        <td>9 AM - 8 PM <br><span class="mobile-cell-note">(Reservation Required)</span></td>
        <td class="pc-cells">Reservation <br/> Required</td>
      </tr>
      <tr>
        <td>Dining</td>
        <td>
          Breakfast: 6 AM - 10 AM <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lunch: 12 PM - 3 PM <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dinner: 6 PM - 10 PM
        </td>
        <td class="pc-cells">__</td>
      </tr>
    </table>
  </div>
</section>
