.three-d {
    background: rgb(254,243,199);
    background: linear-gradient(135deg, rgba(254,243,199,1) 0%, rgba(74,70,58,1) 60%, rgba(0,0,0,1) 100%);
    width: 100vw;;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
}
.three-d spline-viewer {
    transform: scale(1.21);
    z-index: -1;
    margin: 0 auto;
}

.content {
    background-color: var(--clr-dark);
    padding: 1rem;
    text-align: center;
    padding: 3rem 0;
}
.content__heading {
    font-size: var(--size-4xl);
    letter-spacing: -.05rem;
    margin-bottom: .7rem;
}
.content__para {
    line-height: 1.3rem;
    /* padding-left: .3rem;
    width: 660px; */
}
.content__subheading {
    margin: 1.8rem 0 0 0;
}
.content__dates {
    text-align: left;
    padding: .5rem 0 .3rem .2rem;
    flex-direction: column;
    align-items: flex-start;
    margin-top: .5rem;
    /* justify-content: flex-start;
    align-items: flex-start; */
    font-size: var(--size-sm);
}
.content__dates strong {
    font-size: var(--size-xl);
}
.content__dates p {
    line-height: 1rem;
    opacity: 1;
}

.content__dates i {
    display: none;
    margin-right: .2rem;
    font-size: var(--size-xs);
    position: relative;
}
.content__dates .line::after {
    display: none;
    content: '';
    background-color: var(--clr-gold);
    width: 1px;
    height: 100%;
    position: absolute;
    left: 44.5%;
    top: 10%;
    animation: extendsDown 3.7s linear forwards;
    animation-delay: 1s;
}

/* ANIMATION for timeline */
@keyframes extendsDown {
    0% {
        height: 0;
    }
    100% {
        height: 14rem;
    }
}
@keyframes slidesRight {
    from {
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(4px);
    }
}

/* xs */
/* @media (min-width: 475px) {
} */
/* sm */
/* @media (min-width: 640px) {
} */
/* md */
@media (min-width: 768px) {
    .content__dates {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 5%;
        margin-top: 0;
    }
    .content__dates strong {
        font-size: var(--size-base);
    }
    .content__dates i {
        display: block;
    }
    .content__dates p {
        font-size: var(--size-base);
        padding-left: .5rem;
    }
}
/* lg */
@media (min-width: 1024px) {
    .three-d spline-viewer {
        padding-right: 51%;
    }
    
    .content {
        background-color: transparent;
        max-width: 660px;
        text-align: left;
        padding: .5rem 2rem 0 0;
        position: absolute;
        left: 40%;
        top: 0;
        padding-top: 10%;
        height: 100vh;
    }
    .content__para {
        line-height: 1.3rem;
        padding-left: .3rem;
        /* max-width: 660px; */
    }
    .content__subheading {
        margin: .8rem 0 0 0;
    }
    .content__dates {
        justify-content: flex-start;
        align-items: flex-start;
        font-size: var(--size-sm);
        line-height: 1.3rem;
        padding-left: .5rem;
    }
    .content__dates strong {
        height: 100%;
        margin: 0;
    }
    .content__dates p {
        margin-top: .3rem;
        height: 100%;
    }
}
/* xl */
@media (min-width: 1280px) {
    .three-d spline-viewer {
        padding-right: 42%;
    }

    .content {
        left: 45%;
        max-width: 860px;
    }
    .content__heading {
        font-size: var(--size-5xl);
        margin-bottom: 1rem;
    }
    .content__para {
        font-size: var(--size-lg);
    }
    .content__subheading {
        font-size: var(--size-3xl);
        margin-top: 2rem;
    }
    .content__dates strong {
        font-size: var(--size-lg);
    }
    .content__dates p {
        font-size: var(--size-base);
    }

    .content__dates .line::after {
        display: block;
    }
    
    /* content date animation */
    .content__dates p
     {
        opacity: 0;
        animation: slidesRight .5s linear forwards;
    }
    .content__dates:nth-of-type(1) p {
        animation-delay: 1s;
    }
    
    .content__dates:nth-of-type(2) p {
        animation-delay: 1.6s;
    }
    
    .content__dates:nth-of-type(3) p {
        animation-delay: 2.2s;
    }
    
    .content__dates:nth-of-type(4) p {
        animation-delay: 2.9s;
    }
    
    .content__dates:nth-of-type(5) p {
        animation-delay: 3.5s;
    }
    
    .content__dates:nth-of-type(6) p {
        animation-delay: 4.1s;
    }
    
    .content__dates:nth-of-type(7) p {
        animation-delay: 4.6s;
    }
}
/* 2xl */
/* @media (min-width: 1536px) {
} */