<!-- ABOUT SECTION -->
<!-- Our story -->
<section class="three-d">
  <spline-viewer
    loading-anim-type="spinner-big-dark"
    url="https://prod.spline.design/LemJYSmSeiX08Aci/scene.splinecode"
  ></spline-viewer>
</section>
<div class="content">
  <h1 class="content__heading">Our Story</h1>
  <p class="content__para">
    <strong>Ember Glow</strong> Hotel began its journey in 1990 as a humble
    two-story building with just four rooms, started from scratch by a
    passionate family with a dream of providing unparalleled hospitality.
    Nestled in the heart of the city, our hotel has grown and evolved
    significantly over the years, offering a unique blend of charm, luxury, and
    modern amenities. Our dedication to excellence and personalized service has
    made us a beloved destination for travelers from around the world.
  </p>
  <h2 class="content__subheading">Timeline of Milestones</h2>
  <ul>
    <li class="content__dates flex">
      <strong class="flex"><i class="bx bxs-circle line"></i>1990</strong>
      <p>&nbsp;Ember Glow Hotel opens its doors as a quaint 4-room inn.</p>
    </li>
    <li class="content__dates flex">
      <strong class="flex"><i class="bx bxs-circle"></i>1995</strong>
      <p>
        &nbsp;Expansion adds 30 new rooms and a fine dining restaurant.
      </p>
    </li>
    <li class="content__dates flex">
      <strong class="flex"><i class="bx bxs-circle"></i>2000</strong>
      <p>
        First major renovation introduces modern amenities and
        luxurious suites.
      </p>
    </li>
    <li class="content__dates flex">
      <strong class="flex"><i class="bx bxs-circle"></i>2005</strong>
      <p>Launch of the state-of-the-art fitness center and wellness spa.</p>
    </li>
    <li class="content__dates flex">
      <strong class="flex"><i class="bx bxs-circle"></i>2010</strong>
      <p>
        &nbsp;Introduced eco-friendly initiatives, solar panels and
        waste reduction.
      </p>
    </li>
    <li class="content__dates flex">
      <strong class="flex"><i class="bx bxs-circle"></i>2015</strong>
      <p>
        &nbsp;Opened the conference and event center for business travelers.
      </p>
    </li>
    <li class="content__dates flex">
      <strong class="flex"><i class="bx bxs-circle"></i>2020</strong>
      <p>Celebrated 30 years with a refurbished lobby and lounge area.</p>
    </li>
  </ul>
</div>

<!-- Mission & Values -->
<app-about-mission></app-about-mission>

<!-- Our Team -->
<app-about-team></app-about-team>

<!-- Sustainability -->
<app-about-eco></app-about-eco>

<!-- Testimonials -->
<app-about-reviews></app-about-reviews>

<!-- FOOTER SECTION -->
<app-footer></app-footer>
