<!-- ABOUT SECTION -->
<section class="three-d flex">
  <spline-viewer
    loading-anim-type="spinner-big-dark"
    url="https://prod.spline.design/LemJYSmSeiX08Aci/scene.splinecode"
  ></spline-viewer>
  <div class="content">
    <h1 class="content__heading">Our Story</h1>
    <p class="content__para">
      Ember Glow Hotel began its journey in 1990 as a humble two-story building
      with just four rooms, started from scratch by a passionate family with a
      dream of providing unparalleled hospitality. Nestled in the heart of the
      city, our hotel has grown and evolved significantly over the years,
      offering a unique blend of charm, luxury, and modern amenities. Our
      dedication to excellence and personalized service has made us a beloved
      destination for travelers from around the world.
    </p>
    <h2 class="content__subheading">Timeline of Milestones</h2>
    <ul>
        <li class="content__dates flex"><strong class="flex"><i class='bx bxs-circle line'></i>1990</strong>: Ember Glow Hotel opens its doors as a quaint 4-room inn.</li>
        <li class="content__dates flex"><strong class="flex"><i class='bx bxs-circle'></i>1995</strong>: Expansion adds 30 new rooms and a fine dining restaurant, "The Ember Dine."</li>
        <li class="content__dates flex"><strong class="flex"><i class='bx bxs-circle'></i>2000</strong>: The hotel's first major renovation introduces modern amenities and luxurious suites.</li>
        <li class="content__dates flex"><strong class="flex"><i class='bx bxs-circle'></i>2005</strong>: Launch of the state-of-the-art fitness center and wellness spa.</li>
        <li class="content__dates flex"><strong class="flex"><i class='bx bxs-circle'></i>2010</strong>: Introduction of eco-friendly initiatives, including solar panels and waste reduction programs.</li>
        <li class="content__dates flex"><strong class="flex"><i class='bx bxs-circle'></i>2015</strong>: Opened the conference and event center, catering to business travelers and event planners.</li>
        <li class="content__dates flex"><strong class="flex"><i class='bx bxs-circle'></i>2020</strong>: Celebrated 30 years of excellence with a newly refurbished lobby and lounge area.</li>
    </ul>
  </div>
</section>

<!-- FOOTER SECTION -->
<app-footer></app-footer>