<!-- Nav goes here -->

<!-- Facilities Section -->
<section #carousel class="facil">
  <!-- List -->
  <div #listItem class="facil__list">
    <!-- Loop the carousel cells -->
    <div class="facil__list-item">
      <img
        class="item-img"
        src="../../assets/images/facilities/f1-assist.webp"
        alt=""
      />
      <div class="item-content">
        <h1 class="item-content__title">Personalized Care for All</h1>
        <p class="item-content__desc">
          Our dedicated team provides comprehensive support to ensure a
          comfortable stay for guests with special needs.
        </p>
      </div>
    </div>
    <div class="facil__list-item flex">
      <img
        class="item-img"
        src="../../assets/images/facilities/f2-gym.webp"
        alt=""
      />
      <div class="item-content">
        <h1 class="item-content__title">Title</h1>
        <p class="item-content__desc">
          Our dedicated team provides comprehensive support to ensure a
          comfortable stay for guests with special needs.
        </p>
      </div>
    </div>
    <div class="facil__list-item flex">
      <img
        class="item-img"
        src="../../assets/images/facilities/f3-laund.webp"
        alt=""
      />
      <div class="item-content">
        <h1 class="item-content__title">Title</h1>
        <p class="item-content__desc">
          Our dedicated team provides comprehensive support to ensure a
          comfortable stay for guests with special needs.
        </p>
      </div>
    </div>
    <div class="facil__list-item flex">
      <img
        class="item-img"
        src="../../assets/images/facilities/f4-spa.webp"
        alt=""
      />
      <div class="item-content">
        <h1 class="item-content__title">Personalized Care for All</h1>
        <p class="item-content__desc">
          Our dedicated team provides comprehensive support to ensure a
          comfortable stay for guests with special needs.
        </p>
      </div>
    </div>
  </div>

  <!-- Thumbnails -->
  <div #thumbnail class="thumbnail">
    
    <div class="thumb__item">
      <img src="../../assets/images/facilities/f2-gym.webp" alt="" />
      <div class="thumb__item-content">
        <div class="thumb__title">A Title</div>
      </div>
    </div>
    <div class="thumb__item">
      <img src="../../assets/images/facilities/f3-laund.webp" alt="" />
      <div class="thumb__item-content">
        <div class="thumb__title">A Title</div>
      </div>
    </div>
    <div class="thumb__item">
      <img src="../../assets/images/facilities/f4-spa.webp" alt="" />
      <div class="thumb__item-content">
        <div class="thumb__title">A Title</div>
      </div>
    </div>
    <div class="thumb__item">
      <img src="../../assets/images/facilities/f1-assist.webp" alt="" />
      <div class="thumb__item-content">
        <div class="thumb__title">A Title</div>
      </div>
    </div>
  </div>

  <!-- Carousel Navigation Arrows -->
  <div class="arrows flex">
    <button #prev id="prev" class="btn flex">
        <i class="bx bxs-chevron-left"></i>
    </button>
    <button #next id="next" class="btn flex">
        <i class='bx bxs-chevron-right'></i>
    </button>
</div>
</section>

<!-- Footer goes here -->
<app-footer></app-footer>
