<section class="eco-container container">
  <div class="heading">
    <h1 class="heading__title">Eco Partnership</h1>
    <p #paragraph class="heading__para">
      We believe in giving back to the environment and our community. Our
      sustainability initiatives include energy-efficient systems, recycling
      programs, and locally sourced ingredients for our restaurants. We also
      partner with local charities and organizations to support community events
      and causes.
    </p>
  </div>
  <div class="mobile-gallery">
    <div class="card">
      <img
        src="../../assets/images/about/gallery/Solar.jpg"
        alt="hotel using solar energy"
      />
      <span
        >We harness the power of the sun with our state-of-the-art solar panels.
        This commitment to renewable energy helps us reduce our carbon footprint
        and operate more sustainably, ensuring a greener future for all.</span
      >
      <i class="bx bxs-hand-up bx-tada"></i>
    </div>
    <div class="card">
      <img
        src="../../assets/images/about/gallery/toiletries.jpg"
        alt="hotel using eco-friendly toiletries"
      />
      <span
        >Our rooms feature eco-friendly amenities, including biodegradable
        toiletries and reusable water bottles. These thoughtful touches are part
        of our broader effort to minimize waste and promote sustainable living
        among our guests.</span
      >
    </div>
    <div class="card">
      <img
        src="../../assets/images/about/gallery/recycle.jpg"
        alt="hotel guests planting a tree"
      />
      <span
        >Recycling is a cornerstone of our sustainability efforts. We have
        implemented comprehensive recycling programs throughout the hotel,
        encouraging both guests and staff to participate in reducing waste and
        supporting environmental conservation.</span
      >
    </div>
    <div class="card">
      <img
        src="../../assets/images/about/gallery/green-path.jpg"
        alt="hotel with green trees surrounding"
      />
      <span
        >Embrace nature at Ember Glow Hotel with our beautifully maintained
        green spaces. From lush gardens to serene rooftop terraces, we
        prioritize creating environments that support biodiversity and offer
        peaceful retreats for our guests.</span
      >
    </div>
    <div class="card">
      <img
        src="../../assets/images/about/gallery/charity.jpg"
        alt="hotel team giving a charity"
      />
      <span
        >We actively engage with our local community by hosting and
        participating in various events. From charity fundraisers to cultural
        festivals, our involvement helps strengthen community bonds and support
        local causes.</span
      >
    </div>
    <div class="card">
      <img
        src="../../assets/images/about/gallery/local.jpg"
        alt="local resources using in the hotel"
      />
      <span
        >Our commitment to sustainability extends to our dining options, where
        we prioritize locally sourced products. By supporting local farmers and
        producers, we reduce our carbon footprint and provide our guests with
        the freshest ingredients.</span
      >
    </div>
    <div class="card">
      <img
        src="../../assets/images/about/gallery/training.jpg"
        alt="employees traning"
      />
      <span
        >Our team is trained in sustainable practices and community engagement.
        Through regular workshops and training sessions, we empower our staff to
        contribute to our green initiatives and provide exceptional,
        eco-conscious service.</span
      >
    </div>
    <div class="card">
      <img
        src="../../assets/images/about/gallery/planting.jpg"
        alt="guests planting trees"
      />
      <span
        >We invite our guests to join us in our sustainability efforts through
        various eco-friendly activities. Participate in beach clean-ups, tree
        planting, or guided nature tours and help us make a positive impact on
        the environment and community.</span
      >
    </div>
  </div>

  <!-- GRID GALLERY for desktops -->
  <div class="grid-gallery">
    <ng-container *ngFor="let item of ecoItems; let i = index">
      <img
        src="{{ item.imgSrc }}"
        alt="{{item.imgAlt}}"
        (mouseenter)="rotateIn(i); opacityIn()"
        (mouseleave)="rotateOut(i); opacityOut()"
      />
      <span>{{ item.description }}</span>
      <div class="art">
        <img
          [src]="item.artImgSrc"
          alt="art pattern"
          [ngClass]="{
            'rotate-opacity-90': hoveredIndex === i && hoverIn,
            'rotate-opacity-180': hoveredIndex === i && !hoverIn && hoveredIndex !== null,
            'rotate-opacity-0' : hoveredIndex !== i
          }"
        />
      </div>
    </ng-container>
  </div>
</section>
