<section class="container mybookings-container">
  <h1>My Bookings</h1>

  <!-- >>>> FILTER (search bar) <<<< -->
  <form (ngSubmit)="filterBookings()" class="filter-bar flex">
    <div class="dropdowns-containers flex">
      <!-- booking status -->
      <select [(ngModel)]="params.status" name="status">
        <option value="">Status</option>
        <option value="Pending">Pending</option>
        <option value="Confirmed">Confirmed</option>
        <option value="Failed">Failed</option>
        <option value="Cancelled">Cancelled</option>
        <option value="Archived">Archived</option>
      </select>
      <!-- order by -->
      <select [(ngModel)]="params.orderBy" name="orderBy">
        <option value="">Order</option>
        <option value="desc">Descending</option>
        <option value="asc">Ascending</option>
        <option value="longest">Longest</option>
        <option value="shortest">Shortest</option>
      </select>
    </div>

    <!-- buttons -->
    <div class="filter-btn-container flex">
      <button class="reset-btn btn" type="reset">Clear</button>
      <button type="submit" class="filter-btn btn flex" (click)="resetPage()">
        Filter
        <i class="bx bx-filter-alt"></i>
      </button>
    </div>
  </form>

  <h1 *ngIf="noBookingsYet" class="no-bookings-yet">
    YOU HAVE NO BOOKINGS YET!
  </h1>
  <div class="cards-wrapper">
    <ng-container *ngIf="isFetching; else myBookingCards">
      <ngx-skeleton-loader
        animation="pulse"
        count="1"
        [theme]="{
          'width': '350px',
          'height': '400px',
          'background-color': '#fef3c7',
          'border-radius': '10px',
        }"
      ></ngx-skeleton-loader>
    </ng-container>
    <ng-template #myBookingCards>
      <div *ngFor="let booking of myBookings" class="booking-cards">
        <img src="{{ (booking.room?.images)![0] }}" alt="Room Image" />
        <span
          class="booking-status"
          [ngClass]="{
            amber100:
              booking.status === 'Pending' || booking.status === 'Archived',
            green: booking.status === 'Confirmed',
            red: booking.status === 'Failed' || booking.status === 'Cancelled'
          }"
        >
          {{ booking.status }}
        </span>
        <p>
          <span class="room-no">
            RoomNo. {{ booking.room?.room_number! }}
          </span>
          <span class="room-type"> Type: {{ booking.room?.room_type! }} </span>
          <span class="check-in">
            {{ booking.checkIn! | date : "yyyy-MMM-dd" }}
          </span>
          <span class="check-out">
            {{ booking.checkOut! | date : "yyyy-MMM-dd" }}
          </span>
        </p>
        <h4> Booking ID: {{ booking._id }}</h4>
        <button
          class="proof-btn" 
          popovertarget="popup"
          (click)="getPaymentProof(booking.paymentProof!)"
        >
          Show Payment Proof
        </button>
        <!-- <img src="{{ booking.paymentProof! }}" alt="Payment Proof"> -->
      </div>
    </ng-template>
  </div>

  <!-- pagination container -->
  <div class="pagination flex">
    <button
      class="arrow-btn btn"
      [disabled]="currentPage === 1"
      (click)="onPageChange(currentPage - 1)"
    >
      &lt;
    </button>
    <span> page {{ currentPage }} of {{ totalPages }}</span>
    <button
      class="arrow-btn btn"
      [disabled]="currentPage === totalPages"
      (click)="onPageChange(currentPage + 1)"
    >
      &gt;
    </button>
  </div>

  <!-- popup to show the payment proof image -->
  <div id="popup" popover>
    <img src="{{ paymentProof }}" alt="payment proof image">
    <button popovertarget="popup" popovertargetaction="hide" class="close-popup-btn flex">
    </button>
</div>
</section>
