.profile-container {
    padding-top: 70px;
    color: var(--clr-amber50);
}

.profile-wrapper {
    border-radius: 10px;
    background-color: rgba(27, 27, 27, 0.397);
    margin-top: 1rem;
    padding: 1rem 0 .8rem 0;
}
h1 {
    margin: -1rem 0;
}

.info-wrapper {
    flex-direction: column;
    font-weight: bold;
}

.role-text {
    margin: 0 .5rem;
}
.flower {
    width: 90px;
}

img {
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
}

.info {
    margin-top: 1.2rem;
    height: 100px;
}
.info td {
    word-break: break-word; /* This will allow the text to break and wrap to the next line */
    white-space: normal; /* This ensures that text wraps normally */
    max-width: 200px; 
  }

td {
    vertical-align: top;
    padding-left: .7rem;
}

/* xs */
@media (min-width: 475px) {
    .info-wrapper {
        flex-direction: row;
    }
    img {
        width: 150px;
    }
}
/* sm */
/* @media (min-width: 640px) {
} */
/* md */
/* @media (min-width: 768px) {
} */
/* lg */
/* @media (min-width: 1024px) {
} */
/* xl */
/* @media (min-width: 1280px) {
} */
/* 2xl */
/* @media (min-width: 1536px) {
} */