.profile-container {
    padding-top: 70px;
    color: var(--clr-amber50);
}

.profile-wrapper {
    border-radius: 10px;
    background-color: rgba(27, 27, 27, 0.397);
    margin-top: 1rem;
    padding: 1rem 0 .8rem 0;
}
h1 {
    margin: -1rem 0;
}

.info-wrapper {
    flex-direction: column;
    font-weight: bold;
}

.role-text {
    margin: 0 .5rem;
}
.flower {
    width: 90px;
}

.upload-wrapper {
    flex-direction: column;
}

.pfp {
    width: 250px;
    border: 5px solid var(--clr-gold);
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
}
/* profile pic upload */
.profile-upload-form {
    margin-top: .5rem;
    flex-direction: column;
    gap: .5rem;
    position: relative;
}
.profile-upload-form button {
    padding: .2rem 1rem;
    font-size: var(--size-3xl);
}
input[type="file"] {
    width: 200px;
}
input[type="file"]::file-selector-button {
    font-family: 'Chillax', sans-serif;
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: .5rem;
    border: 2px solid var(--clr-gold);
    border-radius: 5px;
    cursor: pointer;
}
/* tooltip for pfp size limit */
.tooltip-wrapper {
    /* border: 1px solid green; */
    position: absolute;
    top: .55rem;
    right: -.3rem;
}
.tooltip-wrapper span {
    background-color: var(--clr-dark);
    border-radius: 5px;
    font-size: var(--size-sm);
    font-weight: lighter;
    width: 95px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.822);
    padding: .2rem;
    position: absolute;
    top: -2rem;
    right: 0;
    opacity: 0;
}
.tooltip:hover + span {
    opacity: 1;
}

.info {
    margin-top: 1.2rem;
    height: 100px;
}
.info td {
    word-break: break-word; /* This will allow the text to break and wrap to the next line */
    white-space: normal; /* This ensures that text wraps normally */
    max-width: 200px; 
  }

td {
    vertical-align: top;
    padding-left: .7rem;
}

/* xs */
/* @media (min-width: 475px) {
} */
/* sm */
@media (min-width: 640px) {
    .profile-container {
        max-width: 640px;
    }
    .info-wrapper {
        flex-direction: row;
    }
    .upload-wrapper {
        flex-direction: column;
    }
    .pfp {
        width: 200px;
    }

    .info {
        /* border: 1px solid red; */
        margin: -5rem 0 0 1rem;
        width: 280px;
    }

    .profile-upload-form {
        flex-direction: row;
    }
    .tooltip-wrapper {
        /* border: 1px solid green; */
        position: absolute;
        top: .7rem;
        right: 4.4rem;
    }
}
/* md */
/* @media (min-width: 768px) {
} */
/* lg */
/* @media (min-width: 1024px) {
} */
/* xl */
/* @media (min-width: 1280px) {
} */
/* 2xl */
/* @media (min-width: 1536px) {
} */