<section class="profile-container container">
    <div class="profile-wrapper">
        <h1 class="flex">
            <img class="flower" src="../../assets/images/about/testimonial/left-flower.svg" alt="">
            <span class="role-text">{{ roleText }}</span>
            <img class="flower" src="../../assets/images/about/testimonial/right-flower.svg" alt="">
        </h1>
      <div class="info-wrapper flex">
        <div class="upload-wrapper">
            <img class="pfp" [src]="profilePicture" alt="" />
            <i *ngIf="isLoading" class="bx bx-loader-circle bx-spin"></i>
            <form class="profile-upload-form flex" (ngSubmit)="uploadProfilePicture()" enctype="multipart/form-data">
                <input #fileInput (change)="onFileChange($event)" type="file" (change)="onFileChange($event)" />
                <button class="btn" type="submit" [disabled]="!fileInput.files || fileInput.files.length === 0 || isLoading">Upload</button>
            </form>
        </div>
        <table class="info">
            <tr>
                <td>Name</td>
                <td>{{ userData?.data?.name}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ userData?.data?.email}}</td>
            </tr>
            <!-- <tr>
                <td>Address</td>
                <td>Rose Street, Mandalay</td>
            </tr> -->
            <tr>
                <td>Phone</td>
                <td>{{ userData?.data?.phone}}</td>
            </tr>
        </table>
      </div>
    </div>
</section>
