<section class="profile-container container">
    <div class="profile-wrapper">
        <h1 class="flex">
            <img class="flower" src="../../assets/images/about/testimonial/left-flower.svg" alt="">
            <span class="role-text">{{ roleText }}</span>
            <img class="flower" src="../../assets/images/about/testimonial/right-flower.svg" alt="">
        </h1>
      <div class="info-wrapper flex">
        <img [src]="profilePicture" alt="profile picture" />
        <i *ngIf="isLoading" class="bx bx-loader-circle bx-spin"></i>
        <form (ngSubmit)="uploadProfilePicture()" enctype="multipart/form-data">
            <input type="file" (change)="onFileChange($event)" />
            <button type="submit" [disabled]="isLoading">Upload</button>
        </form>
        <table class="info">
            <tr>
                <td>Name</td>
                <td>{{ userData?.data?.name}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ userData?.data?.email}}</td>
            </tr>
            <!-- <tr>
                <td>Address</td>
                <td>Rose Street, Mandalay</td>
            </tr> -->
            <tr>
                <td>Phone</td>
                <td>{{ userData?.data?.phone}}</td>
            </tr>
        </table>
      </div>
    </div>
</section>
