<section class="profile-container container">
    <div class="profile-wrapper">
        <h1 class="flex">
            <img class="flower" src="../../assets/images/about/testimonial/left-flower.svg" alt="">
            <span class="role-text">{{ roleText }}</span>
            <img class="flower" src="../../assets/images/about/testimonial/right-flower.svg" alt="">
        </h1>
      <div class="info-wrapper flex">
        <div class="upload-wrapper flex">
            <img class="pfp" [src]="profilePicture" alt="" />
            <i *ngIf="isLoading" class="bx bx-loader-circle bx-spin"></i>
            <form class="profile-upload-form flex" (ngSubmit)="uploadProfilePicture()" enctype="multipart/form-data">
                <input #fileInput (change)="onFileChange($event)" type="file" (change)="onFileChange($event)" />
                <button class="btn" type="submit" [disabled]="!fileInput.files || fileInput.files.length === 0 || isLoading"><i class='bx bx-cloud-upload'></i></button>
                <div class="tooltip-wrapper">
                    <i class='bx bx-info-circle tooltip'></i>
                    <span>limit < 500KB</span>
                </div>
            </form>
        </div>
        <form class="edit-info-form flex" (ngSubmit)="saveUserInfo()" *ngIf="isEditMode">
            <table class="info">
              <tr>
                <td>Name</td>
                <td class="input-box"><input [(ngModel)]="userData!.data!.name" name="name" /></td>
              </tr>
              <tr>
                <!-- I did this, gpt -->
                <td>Email</td>
                <td>{{ userData?.data?.email }}</td>
              </tr>
              <tr>
                <td>Address</td>
                <td class="input-box"><input [(ngModel)]="userData!.data!.address" name="address" /></td>
              </tr>
              <tr>
                <td>Phone</td>
                <td class="input-box"><input [(ngModel)]="userData!.data!.phone" name="phone" /></td>
              </tr>
            </table>
            <button class="btn save-btn">Save</button>
          </form>
        
          <table class="info non-edit-info" *ngIf="!isEditMode">
            <tr>
              <td>Name</td>
              <td>{{ userData?.data?.name }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ userData?.data?.email }}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{ userData?.data?.address }}</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>{{ userData?.data?.phone }}</td>
            </tr>
          </table>
          <button *ngIf="!isEditMode" class="btn toggle-btn" (click)="toggleEditMode()">Update</button>
          <button *ngIf="isEditMode" class="btn toggle-btn cancel-btn" (click)="toggleEditMode()">Cancel</button>
          
      </div>
    </div>
</section>
