<section class="mission-container container flex">
  <div class="mission card flex">
    <h1>MISSION</h1>
    <img src="../../assets/images/about/mission/mission.svg" alt="" />
    <p class="mission__para">
      Our mission is to create a haven where guests feel
      cherished and inspired.
      <span>
        We strive to provide exceptional hospitality by delivering personalized
        services that cater to the unique needs of each guest, ensuring every
        stay is memorable through our commitment to quality and attention to
        detail.
      </span>
    </p>
  </div>
  <div class="values card flex">
    <h1>VALUES</h1>
    <img src="../../assets/images/about/mission/values.svg" alt="" />
    <p class="values__para">
      They are the foundation of our hospitality. We prioritize integrity,
      treating everyone with respect and honesty.
      <span>
        Excellence drives us to continually improve, providing top-notch comfort
        and luxury. Sustainability is key, as we minimize our environmental
        impact and promote eco-friendly practices.
      </span>
    </p>
  </div>
  <div class="vision card flex">
    <h1>VISION</h1>
    <img src="../../assets/images/about/mission/vision.svg" alt="" />
    <p class="vision__para">
      Our vision is to be a beacon of warmth and elegance, known for creating
      extraordinary experiences.
      <span>
        We aim to expand the Ember Glow experience to new locations, maintaining
        our commitment to personalized service and environmental stewardship,
        leaving a lasting impression on every guest.
      </span>
    </p>
  </div>
</section>
