<div class="navigation flex">
  <div class="left-part flex">
    <a router-Link="#" class="flex">
      <span>Ember Glow</span>
      <img class="logo" src="../../assets/images/hotel-logo-600.png" alt="" />
    </a>
  </div>
  <div class="mid-part flex">
    <a href="" class="flex">
      <i class='bx bxs-hotel' style='color:#ffffff' ></i>
      Rooms
    </a>
    <a href="" class="flex">
      <i class='bx bxs-bowl-hot' style='color:#ffffff' ></i>
      Dining
    </a>
    <a href="" class="flex">
      <i class='bx bx-swim' style='color:#ffffff' ></i>
      Facilities
    </a>
    <a href="" class="flex">
      <i class='bx bxs-group' style='color:#ffffff' ></i>
      About
    </a>
    <a href="" class="flex">
      <i class='bx bxs-phone' style='color:#ffffff' ></i>
      Contact
    </a>
  </div>
  <div class="right-part flex">
    <a href="" class="flex">
        <i class="bx bxs-user"></i>
        <span>Login</span>
    </a>
    <button class="right-part__menu">
      <i class='bx bx-menu'></i>
    </button>
  </div>
</div>
