/* xs */
/* @media (min-width: 475px) {
} */
/* sm */
/* @media (min-width: 640px) {
} */
/* md */
/* @media (min-width: 768px) {
} */
/* lg */
/* @media (min-width: 1024px) {
} */
/* xl */
/* @media (min-width: 1280px) {
} */
/* 2xl */
/* @media (min-width: 1536px) {
} */

:root {
    /* fonts */
    --clr-amber50: #fffbeb;
    /* for some backgrounds */
    --clr-amber100: #fef3c7;
    /* for some  things...*/
    --clr-amber200: #fde68a;
    /* for dark mode */
    --clr-dark: #070a13;
    --clr-gold: #fddd27;

    /* sizes */
    --size-xxs: .5rem;
    --size-xs: .75rem;
    --size-sm: .875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

}

* {
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Chillax', sans-serif;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    line-height: calc(1rem + .5rem);
    transition: all .4s;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

a {
    color: var(--clr-amber100);
}

.btn {
    display: inline-block;
    font-weight: 600;
    letter-spacing: -.05rem;
    background-color: var(--clr-gold);
    color: var(--clr-dark);
    padding: .5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px #fddd277e, 0 6px 6px #fddd277e;
    transition: transform 0.3s, box-shadow .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px #fddd273b,
        0 10px 10px #fddd2728,
        0 0 120px -10px var(--clr-gold);
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

strong {
    color: var(--clr-gold);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #020617b0;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--clr-gold);
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dabc15;
}

body {
    background-color: var(--clr-amber100);
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chillax', sans-serif;
    color: var(--clr-amber50);
}

/* utils */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

.top-m {
    margin-top: 1.5rem;
}

/* Dialog popup */
dialog {
    scale: 0;
    opacity: 0;
    transition: opacity .25s;
}

dialog[open] {
    scale: 1;
    opacity: 1;
}

dialog:modal {
    max-width: 100vw;
    max-height: 100svh;
}

/* some animations for the menus */
@keyframes pop {
    0% {
        transform: translateY(90vh);
    }
    100% {
        transform: translateY(0);
    }
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}