* {
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Chillax', sans-serif;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    line-height: calc(1rem + .5rem);
    transition: all .4s;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

a {
    color: var(--clr-amber100);
    cursor: pointer;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

strong {
    color: var(--clr-gold);
}


/* custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #020617b0;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--clr-gold);
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dabc15;
}

body {
    background-color: var(--clr-amber100);
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chillax', sans-serif;
    color: var(--clr-amber50);
}

/* angle variable for rotation animations */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* for home page 'book a room now' button */
.explore-btn::before,
.explore-btn::after {
    content: '';
    background-image: conic-gradient(from var(--angle), var(--clr-amber50) 10%, var(--clr-dark) 50%, var(--clr-amber50));
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    padding: .4rem;
    border-radius: .6rem;
    z-index: -1;
    animation: borderSpin 3.5s infinite;
}

.explore-btn::before {
    filter: blur(5px);
}

/* Dialog popup */
dialog {
    display: none;
    animation: disappear .5s;
}

dialog[open] {
    animation: appear .5s;
}

dialog:modal {
    max-width: 100vw;
    max-height: 100svh;
}

/* insufficient budget (ref to payment.component.css) */
.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.steps span {
    width: 15px;
    height: 15px;
    background-color: #d2b61a;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transition: color .4s;
}

.steps span.active {
    background-color: var(--clr-gold);
}

.steps::before {
    content: '';
    border-radius: 2px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;
    background-color: #d2b61a;
    z-index: 0;
}

.steps .progress {
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;
    background-color: var(--clr-gold);
    z-index: 0;
    transition: width .2s;
}


#ayapopup {
    background: radial-gradient(circle, rgba(186, 27, 56, 0.535) 0%, rgba(0, 0, 0, 0.786) 100%);
}

#cbpopup {
    background: radial-gradient(circle, rgba(0, 23, 136, 0.491) 0%, rgba(0, 103, 45, 0.493) 25%, rgba(113, 85, 0, 0.627) 50%, rgba(60, 0, 8, 0.792) 100%);
}

#kbzpopup {
    background: radial-gradient(circle, rgba(0, 83, 171, 0.5269705294227065) 0%, rgba(0, 0, 0, 0.808) 100%);
}

#wavepopup {
    background: radial-gradient(circle, rgba(174, 159, 26, 0.538) 0%, rgba(0, 0, 0, 0.838) 100%);
}

.input-type-file {
    margin: .4rem 0 0 1.4rem;
    font-size: var(--size-base);
    width: 250px;
}

.input-type-file::file-selector-button {
    font-family: 'Chillax', sans-serif;
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: .5rem;
    border: 2px solid var(--clr-gold);
    border-radius: 5px;
    cursor: pointer;
}


/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}