.payment-container {
  color: var(--clr-amber50);
  padding-top: 70px;
}

.payment-form {
  max-width: 400px;
  height: 565.38px;
  text-align: center;
  background-color: #00000055;
  border-radius: 10px;
  padding: .7rem 1rem;
  margin: 1rem auto 0;
}

nav {
  max-width: 500px;
  margin: 0 auto 20px;
}

nav h1 {
  font-weight: bold;
  font-size: var(--size-2xl);
  margin: .5rem 0 1rem;
}


/* Confirmation part */
.confirmation-wrapper {
  position: relative;
  height: 100%;
}

.confirmation-wrapper .btn {
  position: absolute;
  font-size: var(--size-base);
}

/* STEP-1 Room confimation */
.room-confirm-text {
  margin-bottom: .7rem;
}

.room-info {
  justify-content: space-around;
}

.room-info p {
  margin: .5rem 0 1rem;
  font-size: var(--size-lg);
  font-weight: bold;
}

.room-confirm-btn {
  bottom: 15px;
  right: 25px;
}

.room-confirmation img {
  max-width: 312px;
  border-radius: 10px;
  height: auto;
  margin: .5rem auto;
}

/* STEP-2 Booking confirmation part */
.booking-confirmation {
  background-color: #00000047;
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.booking-confirmation th {
  width: 100%;
  height: 50px;
  font-size: var(--size-lg);
  text-align: left;
  padding: .7rem;
}

td {
  height: 10px;
}

.hr-line-row {
  height: 20px;
}

.line {
  width: 90%;
  margin: 0 auto;
  border: 3px solid #fff;
}

/* file upload style */
.file-msg {
  font-weight: bold;
  gap: .2rem;
}

.file-msg i {
  font-size: var(--size-lg);
}

/* steps style, and input file styles are moved to global styes.css file */

/* Payment icon buttons */
.payment-proof-wrapper {
  position: relative;
  height: 85%;
}

.pay-icons-wrapper {
  width: 100%;
  margin-top: .7rem;
  position: absolute;
  bottom: .5rem;
  left: 50%;
  transform: translateX(-50%);
  gap: .8rem;
}

.pay-icons {
  width: 50px;
}

.pay-icons:hover {
  transform: translateY(-3px);
}

.pay-icons img {
  border-radius: .6rem;
}

/* Account info popups */
.popups {
  backdrop-filter: blur(10px);
  background-color: #0000006e;
  color: var(--clr-amber50);
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-content: center;
  opacity: 0;
  animation: fade-in ease .5s forwards;
}

.popups button {
  width: 100%;
  height: 100%;
}

.popups button h1 {
  font-size: var(--size-2xl);
  margin-bottom: .5rem;
}

.popups button p {
  font-size: var(--size-lg);
}

#ayapopup {
  background: radial-gradient(circle, rgba(186, 27, 56, 0.535) 0%, rgba(0, 0, 0, 0.786) 100%);
}

#cbpopup {
  background: radial-gradient(circle, rgba(0, 23, 136, 0.491) 0%, rgba(0, 103, 45, 0.493) 25%, rgba(113, 85, 0, 0.627) 50%, rgba(60, 0, 8, 0.792) 100%);
}

#kbzpopup {
  background: radial-gradient(circle, rgba(0, 83, 171, 0.5269705294227065) 0%, rgba(0, 0, 0, 0.808) 100%);
}

#wavepopup {
  background: radial-gradient(circle, rgba(174, 159, 26, 0.538) 0%, rgba(0, 0, 0, 0.838) 100%);
}

/* booking confirm step buttons */
.prev-btn {
  background-color: transparent;
  border: 1px solid var(--clr-dark);
  box-shadow: none;
  bottom: -4rem;
  left: 25px;
}

.book-btn {
  padding: .5rem 1.8rem;
  bottom: -4rem;
  right: 25px;
  gap: .2rem;
}
.book-btn i {
  font-size: var(--size-2xl);
}

.file-error {
  color: #e92e2e;
  font-size: var(--size-sm);
  font-weight: bold;
}

/* STEP-3 ALL DONE PART */
.all-done-card {
  background-color: #00000033;
  border-radius: 10px;
  flex-direction: column;
  padding: 1rem .6rem 1.5rem;
  position: relative;
}

.all-done-card i {
  font-size: 13rem;
  color: #a3e635;
}

.all-done-card h3 {
  font-size: var(--size-3xl);
  margin: .4rem;
}

.all-done-card p {
  font-size: var(--size-lg);
  padding-block: .6rem;
}

.finish-btn {
  bottom: 95px;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--size-xl) !important;
}

/* Payment images step 0 to 2 */
.payment-imgs {
  display: none;
}

/* Error Dialog */
.error-wrapper {
  background-color: #0000002e;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  z-index: 10000;
}

.error-dialog {
  background-color: var(--clr-amber100);
  border-radius: 10px;
  width: 300px;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  gap: .7rem;
  text-align: center;
}

.error-status {
  width: 100%;
  background-color: #ef4444;
  border-radius: 10px 10px 0 0;
  padding: 1rem;
  font-size: var(--size-4xl);
}

.error-message {
  padding: 0 .2rem;
  color: var(--clr-dark);
  font-size: var(--size-xl);
  font-weight: bold;
}

.close-btn {
  background-color: transparent;
  margin: .5rem 0 1rem;
  box-shadow: none;
  border: 1px solid var(--clr-dark);
  font-size: var(--size-lg);
}


@media (min-width: 1024px) {

  .room-confirm-btn {
    bottom: -4rem;
    right: 25px;
  }

  .payment-form {
    max-width: 800px;
    position: relative;
  }

  /* Payment images step 0 to 2 */
  .payment-imgs {
    width: 450px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .confirmation-wrapper {
    position: relative;
    width: 50%;
    height: 86%;
    margin-left: 22rem;
  }

  /* STEP-2 Booking confirmation part */
  .booking-confirmation {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  /* Payment icon buttons */
  .pay-icons-wrapper {
    left: 70%;
  }
  .prev-btn {
    left: -19rem;
    bottom: -8.5rem;
  }
  
  .book-btn {
    bottom: -8.5rem;
  }

  /* STEP-3 ALL DONE PART */
  .all-done-card {
    background-color: transparent;
    margin: 2rem 0 0 3rem;
  }

  .all-done-card h3 {
    font-size: var(--size-3xl);
    margin-bottom: 1rem;
  }

  .all-done-card p {
    font-size: var(--size-xl);
  }

  .finish-btn {
    bottom: 2rem;
    left: 9%;
  }

}
