<!-- NOTE: home-page class is needed for the parallax effect -->
<div class="home-page">
  <!-- HOME PAGE -->
  <!-- LANDING SECTION  -->
  <section class="landing-section flex">
    <img
      class="background"
      alt="hotel image"
    />
    <div class="landing-section__welcome flex">
      <h2>Welcome to</h2>
      <h1>Ember Glow</h1>
      <p>where each moment ignites a new journey of warmth and wonder.</p>
    </div>
    <button class="btn explore-btn flex" (click)="goToRooms()">
      Explore Our Exquisite Rooms
      <i class="bx bx-search-alt bx-tada"></i>
    </button>
  </section>

  <!-- ROOMS SECTION  -->
  <!-- Standard, Deluxe, Superior, Suite -->
  <section class="room-section container">
    <div class="room-section__greeting flex">
      <h1>Discover Your Perfect Retreat at Ember Glow</h1>
      <p>
        Find your refuge from the ordinary in our collection of thoughtfully
        designed rooms, where every detail is tailored to elevate your
        experience.
      </p>
    </div>
    <div class="rooms__container">
      <!-- SUITE -->
      <h3 class="room__title">Suites ~ Exquisite Escape</h3>
      <div class="room__img-wrapper room__img1">
        <img
          class="lazy loading"
          src="../../assets/images/rooms/suite.jpg"
          alt="suite image"
        />
      </div>
      <div class="room__text room__content1">
        <h3 class="room__subtitle">Suites ~ Exquisite Escape</h3>
        <p class="room__desc">
          Escape to a world of opulence and sophistication in our Suites, where
          every moment is filled with unparalleled comfort and style.
        </p>
        <a routerLink="/rooms" class="btn room__btn"> See more </a>
      </div>

      <!-- SUPERIOR -->
      <h3 class="room__title">Superior ~ Unmatched Elegance</h3>
      <div class="room__img-wrapper room__img2">
        <img
          class="lazy loading"
          src="../../assets/images/rooms/superior.jpg"
          alt="Superior room image"
        />
      </div>
      <div class="room__text room__content2">
        <h3 class="room__subtitle">Superior ~ Unmatched Elegance</h3>
        <p class="room__desc">
          Experience unparalleled luxury and personalized service in our
          Superior Rooms, where every detail is crafted for your satisfaction.
        </p>
        <a routerLink="/rooms" class="btn room__btn"> See more </a>
      </div>

      <!-- DELUXE -->
      <h3 class="room__title">Deluxe ~ Luxury Personified</h3>
      <div class="room__img-wrapper room__img3">
        <img
          class="lazy loading"
          src="../../assets/images/rooms/deluxe.jpg"
          alt="Deluxe room image"
        />
      </div>
      <div class="room__text room__content3">
        <h3 class="room__subtitle">Deluxe ~ Luxury Personified</h3>
        <p class="room__desc">
          Indulge in lavish comfort and upscale amenities in our Deluxe Rooms,
          designed for the ultimate relaxation.
        </p>
        <a routerLink="/rooms" class="btn room__btn"> See more </a>
      </div>

      <!-- STANDARD -->
      <h3 class="room__title">Standard ~ Classic Comfort</h3>
      <div class="room__img-wrapper room__img4">
        <img
          class="lazy loading"
          src="../../assets/images/rooms/standard.jpg"
          alt="Standard room image"
        />
      </div>
      <div class="room__text room__content4">
        <h3 class="room__subtitle">Standard ~ Classic Comfort</h3>
        <p class="room__desc">
          Our Standard Rooms offer a cozy retreat with essential amenities for a
          comfortable stay.
        </p>
        <a routerLink="/rooms" class="btn room__btn"> See more </a>
      </div>
    </div>
  </section>

  <!-- FOOTER SECTION  -->
  <app-footer></app-footer>
</div>
