<!-- BG IMAGE -->
<div class="bg-img"></div>

<!-- BLUR EFFECT  -->
<div class="blur"></div>

<div class="dummy-body flex">
  <!-- FORM SECTION  -->
  <div class="form-wrapper flex">
    <h1>Register</h1>
    <div class="form-img-container flex">
      <form (ngSubmit)="register()" #regForm="ngForm" class="flex">
        <!-- USERNAME FIELD  -->
        <div class="input-box">
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
            [(ngModel)]="username"
            required
            minlength="5"
            #name="ngModel"
          />
          <i
            [ngClass]="{
              'green-icon': isFieldValid(name),
              'red-icon': isFieldInvalid(name)
            }"
            class="bx bxs-user"
          ></i>
          <!-- input error message -->
          <p
            class="text-red-bold"
            *ngIf="name.errors && name.touched && name.dirty"
          >
            at least 4 characters
          </p>
        </div>
        <!-- EMAIL FIELD -->
        <div class="input-box">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email Address"
            [(ngModel)]="email"
            required
            minlength="4"
            #mail="ngModel"
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          />
          <i
            [ngClass]="{
              'green-icon': isFieldValid(mail),
              'red-icon': isFieldInvalid(mail)
            }"
            class="bx bxs-envelope"
          ></i>
          <!-- input error message -->
          <p
            class="text-red-bold"
            *ngIf="mail.errors && mail.touched && mail.dirty"
          >
            invalid email
          </p>
        </div>
        <!-- PHONE FIELD -->
        <div class="input-box">
          <input
            type="number"
            name="phone"
            id="phone"
            placeholder="Phone Number"
            [(ngModel)]="phone"
            (input)="onPhoneChange($event)"
            required
            min="0"
            minlength="9"
            #phno="ngModel"
          />
          <i
            [ngClass]="{
              'green-icon': isFieldValid(phno) && isPhoneValid,
              'red-icon': isFieldInvalid(phno) || !isPhoneValid
            }"
            class="bx bxs-phone"
          ></i>
          <!-- input error message -->
          <p class="text-red-bold" *ngIf="!isPhoneValid && phno.touched">
            invalid phone number
          </p>
        </div>
        <!-- PASSWORD FIELD -->
        <div class="input-box">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter Password"
            [(ngModel)]="password"
            (input)="onPasswordChange()"
            required
            minlength="8"
            #pass="ngModel"
          />
          <i
            [ngClass]="{
              'green-icon': isFieldValid(pass),
              'red-icon': isFieldInvalid(pass)
            }"
            class="bx bxs-lock-alt"
          ></i>
          <!-- input error message -->
          <p
            class="text-red-bold"
            *ngIf="!pass.valid && pass.touched && pass.dirty"
          >
            at least 8 characters
          </p>
        </div>
        <!-- COFIRM PSW FIELD -->
        <div class="input-box">
          <input
            type="password"
            name="conpassword"
            id="conpassword"
            placeholder="Confirm Password"
            [(ngModel)]="conpassword"
            (input)="onConfirmPasswordChange()"
            required
            minlength="8"
            #cpass="ngModel"
          />
          <i
            [ngClass]="{
              'green-icon': isFieldValid(cpass) && passwordsMatch,
              'red-icon': isFieldInvalid(cpass)
            }"
            class="bx bxs-lock-alt"
          ></i>
          <!-- input error message -->
          <p class="text-red-bold" *ngIf="!passwordsMatch && cpass.touched">
            passwords must match
          </p>
        </div>
        <div class="agree-terms">
          <label>
            By registering, you agree to our
            <a routerLink="terms">terms & conditions</a>.
          </label>
        </div>

        <button class="btn flex" [disabled]="regForm.invalid || onSubmit">
          <ng-container *ngIf="onSubmit === false; else submittingEmail">
            Register
          </ng-container>
          <ng-template #submittingEmail>
            <i class="bx bx-loader-circle bx-spin"></i>
          </ng-template>
        </button>

        <div class="login-link">
          <p>
            Already registered?
            <a routerLink="/login">Login</a>
            here!
          </p>
        </div>
      </form>

      <!-- FORM IMAGE  -->
      <div class="form-image">
        <img
          src="../../assets/images/icons/hotel-logo-600.png"
          class=""
          alt="hotel logo"
        />
        <p>EMBER GLOW</p>
      </div>
    </div>
  </div>
</div>
