<div class="dummy-body flex">
  <!-- INTRO TO ROOMS PAGE -->
  <div class="headings container flex">
    <div class="headings__title">
      <h1>Experience Ember Glow: Your Haven Awaits</h1>
    </div>
    <div class="heading__subtitle">
      <p>
        Welcome to a realm of tranquility and elegance, where every room beckons
        with promise and every moment is filled with warmth.
      </p>
    </div>
  </div>

  <!-- >>>> FILTER (search bar) <<<< -->
  <form (ngSubmit)="filterRooms()" class="filter-bar flex">
    <!-- dropdowns -->
    <div class="dropdowns-containers flex">
      <!-- min - max price -->
      <div class="mimx-price-wrapper input-box flex">
        <input
          [(ngModel)]="params.minPrice"
          type="number"
          placeholder="Min price"
          name="minprice"
        />
        <span>-</span>
        <input
          [(ngModel)]="params.maxPrice"
          type="number"
          placeholder="Max price"
          name="maxprice"
        />
      </div>
    </div>

    <div class="dropdowns-containers flex">
      <!-- room type -->
      <select [(ngModel)]="params.roomType" name="type">
        <option value="">Type</option>
        <option value="Suite">Suite</option>
        <option value="Superior">Superior</option>
        <option value="Deluxe">Deluxe</option>
        <option value="Standard">Standard</option>
      </select>
      <!-- sort order -->
      <select [(ngModel)]="params.sortOrder" name="sortOrder">
        <option value="asc">Sort Order</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>
    </div>

    <!-- buttons -->
    <div class="filter-btn-container flex">
      <button class="reset-btn btn" type="reset">Clear</button>
      <button type="submit" class="filter-btn btn flex" (click)="resetPage()">
        Filter
        <i class="bx bx-filter-alt"></i>
      </button>
    </div>
  </form>

  <!-- Display room cards -->
  <div class="cards-wrapper">
    <ng-container *ngIf="isFetching; else displayRooms">
      <ngx-skeleton-loader
        animation="pulse"
        count="1"
        [theme]="{
          'width': '350px',
          'height': '400px',
          'background-color': '#fff',
          'border-radius': '10px',
        }"
      ></ngx-skeleton-loader>
    </ng-container>
    <ng-template #displayRooms>
      <div *ngFor="let room of allRooms" class="room-card flex">
        <div class="img-container">
          <img class="room-img" src="{{ room.images }}" alt="hotel room image" />
          <span class="room-number">RoomNo. {{ room.room_number! }}</span>
        </div>
        <div class="room-info">
          <span class="room-type">
            <i class="bx bx-building-house"></i>
            {{ room.room_type! }}
          </span>
          <span class="room-price">
            <i class="bx bx-money"></i>
            {{ room.price }}
          </span>
          <span class="room-status">
            <i
              class="bx bxs-circle"
              [ngStyle]="{
                color: room.status === 'Available' ? '#a3e635' : '#ef4444'
              }"
            ></i>
            {{ room.status! }}
          </span>
          <span class="room-desc">
            {{ room.description! }}
          </span>
        </div>
        <button class="btn flex" (click)="goToRoomDetails(room._id!)">
          Details
          <i class='bx bxs-chevron-right'></i>
        </button>
      </div>
    </ng-template>

    <!-- pagination container -->
    <div class="pagination flex">
      <button
        class="arrow-btn btn"
        [disabled]="currentPage === 1"
        (click)="onPageChange(currentPage - 1)"
      >
        &lt;
      </button>
      <span> page {{ currentPage }} of {{ totalPages }}</span>
      <button
        class="arrow-btn btn"
        [disabled]="currentPage === totalPages"
        (click)="onPageChange(currentPage + 1)"
      >
        &gt;
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>
